<div class="row no-margin full-centered" style="width: 100%;height: calc(85vh);">
    <div class="col-12 pa-t-20">
        <div class="row pa-b-20">
            <div class="col-12 full-centered" style="font-size: 3em;">
                <strong>
                    <i class="fas fa-code-branch pa-r-10"></i>
                    Welcome to the Movement Tracker system
                </strong>
            </div>
            <div class="col-12 full-centered" >
                <img style="height: 300px;margin-top: 50px;" 
                    src="/assets/images/pages/admin/home/software_engineer.svg">
            </div>
        </div>
    </div>
</div>