<div class="row pa-10">
    <div class="col-12">
        <div class="card">
            <div class="pa-l-20 pa-r-25 pa-t-10 pa-b-10 d-flex align-items-center">
                <div class="row full-width">
                    <div class="col-6 full-centered full-left">
                        <div class=" m-b-0 m-l-15 font-18">
                            <i class="fas fa-user"></i>
                            Registered staff
                            <span class="no-margin date-label margin-hori-10-5"
                                style=" background-color: #29333f;  margin-bottom: 5px; border-color: #3f0058; ">
                                {{normalUsersList.length}}</span>
                        </div>
                    </div>
                    <div class="col-6 full-centered full-right">
                        <button type="button" class="btn mr-0 btn-primary max-btn-animate font-18" aria-label="Eliminar"
                            (click)="openModalAddUser()">
                            <i class="fas fa-plus-square ma-0-10"></i>
                            New user
                        </button>
                    </div>
                    <!-- <div class="col-4 full-right">
                        <button type="button" class="btn mr-0 btn-primary max-btn-animate font-18" aria-label="Eliminar"
                            (click)="loadData()">
                            <i class="fas fa-spinner ma-0-10"></i>
                            Recargar
                        </button>
                    </div> -->
                </div>
            </div>


            <hr class="m-t-0" />
            <form class="pa-l-20 pa-r-25 pa-t-10 pa-b-10">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group pd-10-l">
                            <div class="row full-width">
                                <div class="col-10">
                                    <label class="control-label form-label pa-l-10 ma-b-10-i">
                                        Search <i class="pd-10-l fas fa-search"></i>
                                    </label>
                                    <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="searchValue"
                                        (ngModelChange)="filterByEmail($event)" placeholder="Search by name and email"
                                        class="form-control" type="text" />
                                </div>
                                <div class="col-2 pa-b-10">
                                    <label class="control-label form-label pa-l-10 ma-b-10-i">
                                        No. Records
                                    </label>
                                    <div ngbDropdown class="d-inline-block full-width">
                                        <button class="outline-btn btn btn-outline-secondary no-entrys-btn"
                                            id="dropdownBasic12" ngbDropdownToggle>
                                            <!-- No. Entradas  -->{{ pageSize }}
                                        </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic12">
                                            <button ngbDropdownItem (click)="pageSize = 5">5</button>
                                            <button ngbDropdownItem (click)="pageSize = 10">10</button>
                                            <button ngbDropdownItem (click)="pageSize = 15">15</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- EDIT IMAGES -->
            <div class="card-body p-t-0 p-r-0">
                <div class="p-r-15" [perfectScrollbar]="config">
                    <div class="">
                        <div class="full-width">
                            <div>
                                <div class="row">
                                    <div class="col-10 full-centered full-left pa-l-20">User</div>
                                    <div class="col-2 full-centered pa-r-20">Actions</div>
                                </div>
                            </div>
                            <div>
                                <div class="row full-width ma-10" *ngIf="normalUsersListFiltered.length == 0">
                                    <div class="col-12 full-centered">
                                        <img src="/assets/images/logo-ligth.jpg">
                                    </div>
                                    <div class="col-12 full-centered">
                                        <h2>Without results</h2>
                                    </div>
                                </div>
                                <div class="row full-width ma-10"
                                    *ngFor="let normalUser of normalUsersListFiltered| slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;index as i">
                                    <div class="col-12 card card-row normal-shadow">
                                        <div class="row full-width">
                                            <span class="id-label">
                                                {{normalUser.idUser}}
                                            </span>
                                            <div class="col-3 full-centered full-left">
                                                <div class="row">
                                                    <div class="col-12 text-capitalize">
                                                        <i class="fa-solid fa-user"></i> {{normalUser.name}}
                                                        {{normalUser.lastName}} {{normalUser.motherLastName}}
                                                    </div>
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-at"></i>{{normalUser.email}}
                                                    </div>
                                                    <div class="col-12">
                                                        <i class="fas fa-users"></i>Active teams
                                                        {{normalUser.teams.length}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5 full-centered">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <i class="fa-solid fa-comment"></i>
                                                            </div>
                                                            <div class="col-11">
                                                                Technical Knowledge : {{normalUser.technicalKnowledge}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <i class="fa-solid fa-earth-africa"></i>
                                                            </div>
                                                            <div class="col-11">
                                                                English Level : {{normalUser.englishLevel}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <i class="fa-solid fa-users-gear"></i>
                                                            </div>
                                                            <div class="col-11">
                                                                Role :
                                                                <span *ngIf="normalUser.idRole == 0">Super
                                                                    Administrator</span>
                                                                <span
                                                                    *ngIf="normalUser.idRole == 1">Administrator</span>
                                                                <span *ngIf="normalUser.idRole == 2">Normal User</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 full-centered pa-10-0">
                                                <label class="no-margin date-label margin-hori-10-5 "
                                                    style="background-color: #160e81;margin-bottom: 5px;">
                                                    <i class="fas fa-calendar"></i>{{ utilitiesService.getOnlyDate(
                                                    normalUser.createdAt )}}
                                                </label>
                                            </div>
                                            <div class="col-2 full-centered">
                                                <div class="row full-centered">
                                                    <div class="col-12 no-margin full-centered pa-5">
                                                        <button (click)="openModalEditUser(normalUser)"
                                                            class="btn mr-0 btn-primary max-btn-animate full-width pa-10"
                                                            type="button">
                                                            <i class="fas fa-edit"></i> Editar
                                                        </button>
                                                    </div>
                                                    <div class="col-12 no-margin full-centered pa-5">
                                                        <button (click)="openModalConfirmResetPassword(normalUser)"
                                                            class="btn mr-0 btn-warning max-btn-animate full-width pa-10"
                                                            type="button">
                                                            <i class="fas fa-key"></i>
                                                            Restablecer
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 full-centered pa-t-10">
                        <ngb-pagination [pageSize]="pageSize" [collectionSize]="normalUsersListFiltered.length"
                            [(page)]="page" [boundaryLinks]="true">
                            <ng-template ngbPaginationPages let-page let-pages="pages">
                                <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                                    <div class="mb-3 d-flex flex-nowrap px-2">
                                        <label id="paginationInputLabel" for="paginationInput"
                                            class="col-form-label me-2 ms-1">Page</label>
                                        <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                                            class="form-control custom-pages-input" id="paginationInput" [value]="page"
                                            (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                            (input)="formatInput($any($event).target)"
                                            aria-labelledby="paginationInputLabel paginationDescription"
                                            style="width: 2.5rem" />
                                        <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                                            of {{pages.length}}</span>
                                    </div>
                                </li>
                            </ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Confirm Reset -->
<ng-template #modalConfirmResetPassword let-modal>
    <div *ngIf="showAwaitAnimation == true" class="loader-layer">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Restableciendo Contraseña</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="loader-actions">Loading...</div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmar restablecimiento de contraseña</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-8" style="left: 45px;">
                    <label class="control-label form-label m-10">
                        <span style="color: red;">8 caracteres mínimo</span>
                    </label>
                </div>
            </div>
            <div class="row passwords">
                <div class="col ">
                    <div class="form-group pa-l-10 pa-t-10">
                        <div class="input-group">
                            <span class="icon-size pa-r-10">
                                <i class="fas fa-user blue-color"></i>
                            </span>
                            <input type="password" [(ngModel)]="newPassword" class="form-control" id="passw"
                                name="passw" placeholder="Nueva contraseña" minlength="8" required>
                            <span *ngIf="newPassword.length < 7 && newPassword.length != 0"
                                tooltip-Class="tooltip-class" placement="right"
                                ngbTooltip="Las contraseñas debe tener al menos 8 caracteres">
                                <i class="fas fa-circle-exclamation"></i>
                            </span>
                            <span *ngIf="newPassword.length == 0" tooltip-Class="tooltip-class" placement="right"
                                ngbTooltip="Las contraseñas es requerida">
                                <i class="fas fa-circle-exclamation"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="form-group pa-l-10">
                        <div class="input-group">
                            <span class="icon-size pa-r-10">
                                <i class="fas fa-user blue-color"></i>
                            </span>
                            <input type="password" [(ngModel)]="confirmNewPassword" class="form-control" id="passConf"
                                name="passConf" placeholder="Confirmar contraseña" required>
                            <span *ngIf="confirmNewPassword != newPassword" tooltip-Class="tooltip-class"
                                placement="right" ngbTooltip="Las contraseñas no coinciden">
                                <i class="fas fa-circle-exclamation"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row full-width">
                <div class="col-6">
                    <button (click)="modal.dismiss('Cross click')"
                        class="btn btn-block btn-lg btn-danger color-white max-btn-animate normal-shadow">
                        <i class="fas fa-window-close ma-0-10"></i> Cancelar
                    </button>
                </div>
                <div class="col-6">
                    <button [disabled]="confirmNewPassword != newPassword || newPassword.length < 7"
                        (click)="confirmResetPass()"
                        class="btn btn-block btn-lg btn-success color-white max-btn-animate normal-shadow">
                        <i class="fas fa-key ma-0-10"></i> Restablecer
                    </button>
                </div>
            </div>
        </div>
    </div>

</ng-template>

<!-- Modal Confirm Delete User -->
<ng-template #modalConfirmDeleteUser let-modal>
    <div *ngIf="showAwaitAnimation == true">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminando Usuario</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="loader-actions">Loading...</div>
            </div>
        </div>
    </div>
    <div *ngIf="showAwaitAnimation == false">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Confirmar la eliminación del usuario {{selectedNormalUser.email}}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-12 full-centered">
                    <label class="control-label form-label m-10">
                        <span style="color: red;">¿Esta seguro que desea eliminar el usuario?</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row full-width">
                <div class="col-6">
                    <button (click)="modal.dismiss('Cross click')"
                        class="btn btn-block btn-lg btn-danger color-white max-btn-animate normal-shadow">
                        <i class="fas fa-window-close ma-0-10"></i> Cancelar
                    </button>
                </div>
                <div class="col-6">
                    <button (click)="deleteUser()"
                        class="btn btn-block btn-lg btn-success color-white max-btn-animate normal-shadow">
                        <i class="fas fa-trash ma-0-10"></i>
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

</ng-template>

<!-- Modal info usuario -->
<ng-template #modalAddEditNewUser let-modal>
    <div *ngIf="showAwaitAnimation == true" class="row full-width no-margin full-centered full-loading-animation">
        <div class="col-12">
            <div class="loader-actions">Loading...</div>
        </div>
        <label class="label-loading">Saving</label>
    </div>
    <div>
        <div class="modal-header">
            <h4 *ngIf="selectedNormalUser.idUser == -1" class="modal-title no-margin" id="modal-basic-title">
                <i class="fas fa-user-plus p-r-10"></i>Create new user
            </h4>
            <h4 *ngIf="selectedNormalUser.idUser != -1" class="modal-title no-margin" id="modal-basic-title">
                <i class="fas fa-edit p-r-10"></i>Edit user
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <button *ngIf="selectedNormalUser.idUser != -1" type="button"
                class="btn mr-0 btn-primary max-btn-animate modal-delete-btn" aria-label="Delete"
                (click)="openModalConfirmDeleteUser()">
                <span aria-hidden="true">
                    <i class="fas fa-trash-alt pa-r-10"></i>Delete
                </span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-box">
                    <form id="myForm" autocomplete="off" [formGroup]="userModalForm">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="icon-size pa-r-10">
                                    <i class="fas fa-user blue-color"></i>
                                </span>
                                <input type="text" required class="form-control text-forms-capi" id="name" name="name"
                                    placeholder="Name(s)" formControlName="name">

                                <span *ngIf="name.invalid && name.touched">
                                    <span *ngIf="name.errors.required" tooltip-Class="tooltip-class" placement="right"
                                        ngbTooltip="Name(s) required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="name.errors.minlength" tooltip-Class="tooltip-class" placement="right"
                                        ngbTooltip="The name must contain at least 5 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="name.errors.maxlength" tooltip-Class="tooltip-class" placement="right"
                                        ngbTooltip="The name can contain a maximum of 45 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="icon-size pa-r-10">
                                    <i class="fas fa-user blue-color"></i>
                                </span>
                                <input type="text" required class="form-control text-forms-capi" id="lastName"
                                    name="lastName" placeholder="Last name" formControlName="lastName">
                                <span *ngIf="lastName.invalid && lastName.touched">
                                    <span *ngIf="lastName.errors['required']" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Father's last name required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="lastName.errors['minlength']" tooltip-Class="tooltip-class"
                                        placement="right"
                                        ngbTooltip="Paternal surname must contain at least 5 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="lastName.errors['maxlength']" tooltip-Class="tooltip-class"
                                        placement="right"
                                        ngbTooltip="Paternal surname can contain a maximum of 45 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="icon-size pa-r-10">
                                    <i class="fas fa-user blue-color"></i>
                                </span>
                                <input type="text" required class="form-control text-forms-capi" id="motherLastName"
                                    name="motherLastName" placeholder="Mother's last name"
                                    formControlName="motherLastName">
                                <span *ngIf="motherLastName.invalid && motherLastName.touched">
                                    <span *ngIf="motherLastName.errors['required']" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Maternal surname required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="motherLastName.errors['minlength']" tooltip-Class="tooltip-class"
                                        placement="right"
                                        ngbTooltip="Maternal surname must contain at least 5 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="motherLastName.errors['maxlength']" tooltip-Class="tooltip-class"
                                        placement="right"
                                        ngbTooltip="Maternal surname can contain a maximum of 45 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <span class="icon-size pa-r-10">
                                    <i class="fas fa-globe-americas blue-color"></i>
                                </span>
                                <select id="englishLevel" name="englishLevel" class="form-control" formControlName="englishLevel">
                                    <option value="-1" disabled [ngValue]="-1">Select english level</option>
                                    <option value="0" [ngValue]="0">0 - Nothing</option>
                                    <option value="1" [ngValue]="1">1 - Low</option>
                                    <option value="2" [ngValue]="2">2</option>
                                    <option value="3" [ngValue]="3">3</option>
                                    <option value="4" [ngValue]="4">4</option>
                                    <option value="5" [ngValue]="5">5</option>
                                    <option value="6" [ngValue]="6">6</option>
                                    <option value="7" [ngValue]="7">7</option>
                                    <option value="8" [ngValue]="8">8</option>
                                    <option value="9" [ngValue]="9">9</option>
                                    <option value="10" [ngValue]="10">10 - High</option>
                                </select>

                                <span *ngIf="englishLevel.touched">
                                    <span
                                        *ngIf="englishLevel.value == -1"
                                        tooltip-Class="tooltip-class" placement="right" ngbTooltip="English level required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="icon-size-2 pa-r-10">
                                    <i class="fas fa-envelope blue-color"></i>
                                </span>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                    required formControlName="email">

                                <span *ngIf="email.invalid && email.touched">
                                    <span *ngIf="email.errors['required']" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Email required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="email.errors['email']" tooltip-Class="tooltip-class" placement="right"
                                        ngbTooltip="Invalid email.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="selectedNormalUser.idUser == -1" class="form-group">
                            <div class="input-group">
                                <span class="icon-size pa-r-10">
                                    <i class="fas fa-unlock-alt blue-color"></i>
                                </span>
                                <input type="password" class="form-control text-forms-capi" id="password"
                                    name="password" placeholder="Password" required formControlName="password">
                                <span *ngIf="password.invalid && password.touched">
                                    <span *ngIf="password.errors.required" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Password required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="password.errors.minlength" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Password must contain at least 8 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="selectedNormalUser.idUser == -1" class="form-group">
                            <div class="input-group">
                                <span class="icon-size pa-r-10">
                                    <i class="fas fa-unlock-alt blue-color"></i>
                                </span>
                                <input type="password" class="form-control text-forms-capi" id="password_confirmation"
                                    name="password_confirmation" placeholder="Repeat password" required
                                    formControlName="passwordConfirm">
                                <span *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
                                    <span *ngIf="passwordConfirm.errors['required']" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Password required">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="passwordConfirm.errors['minlength']" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Password must contain at least 8 characters.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                    <span *ngIf="passwordConfirm.value != password.value" tooltip-Class="tooltip-class"
                                        placement="right" ngbTooltip="Passwords do not match.">
                                        <i class="fas fa-circle-exclamation"></i>
                                    </span>
                                </span>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <div class="row full-width">
                                <div class="col-6">
                                    <button (click)="modal.dismiss('Cross click');"
                                        class="btn btn-block btn-lg btn-danger color-white max-btn-animate normal-shadow">
                                        <i class="fas fa-window-close ma-0-10"></i> Cancel
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button *ngIf="selectedNormalUser.idUser == -1" (click)="onSubmit()"
                                        class="btn btn-block btn-lg btn-success color-white max-btn-animate normal-shadow"
                                        [disabled]="idRole.value ==-1 || userModalForm.invalid || passwordConfirm.value != password.value 
                                            || showAwaitAnimation || passwordConfirm.value.length == 0">
                                        <div class="loader loader-btn" *ngIf="showAwaitAnimation">Loading...</div>

                                        <span *ngIf="!showAwaitAnimation">
                                            <i class="fas fa-save ma-0-10"></i> Add
                                        </span>
                                    </button>
                                    <button *ngIf="selectedNormalUser.idUser != -1" (click)="onSubmit()"
                                        class="btn btn-block btn-lg btn-success color-white max-btn-animate normal-shadow"
                                        [disabled]="idRole.value ==-1 || userModalForm.invalid || showAwaitAnimation">
                                        <div class="loader loader-btn" *ngIf="showAwaitAnimation">Loading...</div>

                                        <span *ngIf="!showAwaitAnimation">
                                            <i class="fas fa-save ma-0-10"></i> Save
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</ng-template>